.map_part {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

h1{
  margin-top: 32px !important;
}

@media(max-width:992px) {
  .map_part {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .info {
    width: 100%;
    text-align: center;
  }

  .map_part iframe {
    margin-top: 32px;
    width: 100% !important;
  }

}


.map_part iframe {
  width: 60%;
}

.info {
  margin-top: 30px;

}

.info h1 {
  margin-bottom: 20px;
}

.info button {
  margin-top: 20px;
  width: 310px;
  padding: 10px 0;
  background-color: #011835;
  color: white;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}