#root {
  overflow: hidden;
}

html {

  ::selection {
    background-color: #011835;
    color: #fff;
  }

  img {
    user-select: none;
  }

  scroll-behavior: smooth;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(209, 209, 209);
    display: inline-block;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #011835;
    border-radius: 0px;
  }
}

.container {
  max-width: 1600px !important;
}

.nav_logo {
  width: 120px;
}

.About {
  padding: 64px 0;
  margin-top: 120px;
  /* height: 800px; */
}

.about_h {
  font-size: 64px;
  color: #011835;
}

@media(max-width:992px) {
  .about_h {
    text-align: center;
    font-size: 42px;
  }

  .about_h_2 {
    text-align: center;
  }
}

.about_h_2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #011835;
}

.about_p {
  font-size: 20px;
  line-height: 30px;
}

.img_about {
  width: 100%;
  border-radius: 10px;
}

.Contact {
  margin-top: 160px;
}

.Contact .contact_h {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Jost;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  /* 114.286% */
  letter-spacing: -0.56px;
}

@media(max-width:576px) {
  .contact_h {
    font-size: 42px !important;
    line-height: 48px !important;
    text-align: center;
  }
}

.img_box {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #011835;
}

.contact_box_h {
  margin-top: 33px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: -0.22px;
}

.contact_box_p {
  color: #000;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 150% */
  letter-spacing: -0.016px;
}

.contact_box {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media(max-width:992px) {
  .contact_box {
    margin-top: 40px;
  }
}

.Services {
  padding: 64px 0;
  margin-top: 120px;
}

.service_text {
  margin-top: 20px;
  color: #000;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 116.667% */
  letter-spacing: -0.24px;
  text-align: center;

}

@media(max-width:767px) {
  .service_text {
    font-size: 14px;
    line-height: 22px;
  }

  .service_boc {
    margin: 0px !important;

  }
}

.service_boc {
  margin: 15px;
  cursor: pointer;
}

.detail_header_h h3 {
  color: #011835;
}

.service_boc img {
  border-radius: 12px;
}

.ServiceDetail {
  padding-top: 210px;
  padding-bottom: 64px;
}

.detail_header_h {
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: -0.22px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 35px;
}

.detail_header_p {
  font-size: 20px;
  line-height: 30px;
}

.detail_h {
  /* text-align: center; */
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 136.364% */
  letter-spacing: -0.22px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
}

.detail_p {
  font-size: 20px;
  line-height: 30px;
}

.News {
  margin-top: 60px;
  margin-bottom: 80px;
}

.news_h {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 25px;
  font-style: normal;
}



@media(max-width:992px) {
  .news_header {
    margin-bottom: 0px;
  }
}

.news_p {
  font-size: 20px;
  line-height: 18px;
}

.news_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.news_box {
  margin-bottom: 70px;
}